@import "tailwindcss";

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

:root {
  --neutral--5: #09090a;
  --neutral--1: white;
  --brand--teal-border: #9eb5bc;
  --neutral--tranparent: transparent;
  --neutral--3: #666;
  --brand--blue: #0c4cf5;
  --neutral--4: #1c1c1c;
  --brand--teal-1: #bad3d8;
  --neutral--2: #cecece;
  --border-light: #ffffff1a;
  --yellow: #d3f372;
  --neutral--0-5: #3c4f5c45;
  --neutral--4-5: #141414;
  --brand--teal: #93c4ce;
  --brand--light-blue: #1f5cff;
  --brand--teal-2: #b4ccd1;
  --brand--teal-3: #a3c3c9;
  --header-title: 30px;
  --title-mobile: 26px;
  --tokanization-img-bg: #b6cdd2
}

body {
  background-color: #fafafa;
  color: #242424;
  font-family: 'PP Neue Montreal', sans-serif;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 5s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}