@import "tailwindcss";

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-book.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-thin.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/pp-neue-montreal-cufonfonts/ppneuemontreal-italic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

body {
  background-color: #fafafa;
  color: #242424;
  font-family: 'PP Neue Montreal', sans-serif;
}